@model IEnumerable<Congo_Market_Web.DB_Connection.DB_Post_List_byTitle_Result>
@{
    ViewBag.Title = "Title";
}




<div class="row">
    <!-- product left -->
    <div class="agileinfo-ads-display col-lg-9">
        <div class="wrapper">
            <!-- first section -->
            <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                <div class="row">


                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 product-men mt-md-0 mt-5">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item text-center">
                                    <img width="150" height="200" src="/productsImages/@item.Post_postID/@item.Post_imageLink" alt="">
                                    <div class="men-cart-pro">
                                        @*<div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Quick View</a>
                                            </div>*@
                                    </div>
                                    @*<span class="product-new-top">New</span>*@

                                </div>
                                <div class="item-info-product text-center border-top mt-4">
                                    <h4 class="pt-1">
                                        <a href="@Url.Action("Detail","Post",new {postID = item.Post_postID })">@item.Post_title</a>
                                    </h4>
                                    <div class="info-product-price my-2">
                                        <span class="item_price">Fc @item.Post_price</span>
                                        @*<del>@item.Post_date</del>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</div>

