<div class="navbar-inner">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="agileits-navi_search">
                <form action="#" method="post">
                    <select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
                        <option value="">Provinces</option>
                    </select>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center mr-xl-5">
                    <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Véhicules
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Véhicules</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li id="getCategory">

                                            </li>

                                        </ul>
                                    </div>
                                    @*<div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product.html">Laptops</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Drives & Storage</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Printers & Ink</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Networking Devices</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Computer Accessories</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Game Zone</a>
                                            </li>
                                            <li>
                                                <a href="product.html">Software</a>
                                            </li>
                                        </ul>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Électronique & informatique
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">  Électronique & informatique</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li id="electronique">
                                              
                                            </li>
                                        </ul>
                                    </div>
                                    @*<div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Musical Instruments</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Gaming Consoles</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">All Electronics</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Air Conditioners</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Refrigerators</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Washing Machines</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Kitchen & Home Appliances</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Heating & Cooling Appliances</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">All Appliances</a>
                                            </li>
                                        </ul>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Propriété
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3"> Propriété</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li id="propriété">
                                           
                                            </li>
                                          
                                        </ul>
                                    </div>
                                    @*<div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Musical Instruments</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Gaming Consoles</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">All Electronics</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Air Conditioners</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Refrigerators</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Washing Machines</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Kitchen & Home Appliances</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Heating & Cooling Appliances</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">All Appliances</a>
                                            </li>
                                        </ul>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fashion & beauté
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Fashion & beauté</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li id="Fashionbeauté">
                                       
                                            </li>
                                        
                                        </ul>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </li>
              
                </ul>
            </div>
        </nav>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>

    $(document).ready(function () {


        $.ajax({

            url: "/Mst/DB__Mst_Category_Lis_2",
            method: "GET",
            dataType: "JSON",
            success: function (response) {

                let  categoryData = response;

                for (var i = 0; i < categoryData.length; i++) {

                    $.ajax({

                        url: '/Mst/DB__Mst_Subcategory_List/',
                        data: { categoryID : categoryData[i].Category_categoryID },
                        method: "GET",
                        dataType: "JSON",
                        success: function (response) {

                            debugger

                            let subCategoryData = response;

                            console.log(subCategoryData)

                            for (var x = 0; x < subCategoryData.length; x++) {

                                if (subCategoryData[x].Category_categoryName == "Véhicules") {

                                    $("#getCategory").append("<li><a href='/Post/subcategory_List?subcategoryID=" + subCategoryData[x].Subcategory_subcategoryID +"'>" + subCategoryData[x].Subcategory_subcategoryName + "</a><li>")
                                }

                                if (subCategoryData[x].Category_categoryName == "Électronique & informatique") {

                                    $("#electronique").append("<li><a href='/Post/subcategory_List?subcategoryID=" + subCategoryData[x].Subcategory_subcategoryID +"'>" + subCategoryData[x].Subcategory_subcategoryName + "</a><li>")
                                }


                                if (subCategoryData[x].Category_categoryName == "Propriété") {

                                    $("#propriété").append("<li><a href='/Post/subcategory_List?subcategoryID=" + subCategoryData[x].Subcategory_subcategoryID +"'>" + subCategoryData[x].Subcategory_subcategoryName + "</a><li>")
                                }

                                if (subCategoryData[x].Category_categoryName == "Fashion & beauté") {

                                    $("#Fashionbeauté").append("<li><a href='/Post/subcategory_List?subcategoryID=" +subCategoryData[x].Subcategory_subcategoryID+"'>" + subCategoryData[x].Subcategory_subcategoryName + "</a><li>")
                                }

                               
                            }

                        }
                    });
                 
                }

            }
        });


        $.ajax({

            url: "/Mst/DB__Mst_Province_List",
            method: "GET",
            dataType: "JSON",
            success: function (response) {

                let provinceData = response;

                for (var i = 0; i < provinceData.length; i++) {

                    $('#agileinfo-nav_search').append($('<option>').val(provinceData[i].Province_provinceID).text(provinceData[i].Province_provinceName));
    
                }

            }
        });



    }); 



</script>
